body {
    background-color: #000;
    overflow: hidden;
}

div {
    width: 50px;
    height: 100px;
    background-color: #fff;
    margin: 100px auto;
    position: relative;

}

div::after {
    content: "";

    border: 37px solid rgb(159, 16, 177);
    position: absolute;
    border-bottom: 37px solid transparent;
    border-left: 37px solid transparent;
    border-top: 37px solid transparent;
    left: 20px;

}